body {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3%;
	padding-right: 3%; 
}

h1 {
	text-align: left;
}
ul {
	text-align: left;
}
dd {
	font-weight: bold;
}
dl{
	text-align: left;
}